.search-box {
  margin-top: 50px;
}

.product {
  box-shadow: 0 3px 5px gray;
  margin: 10px 0;
  float: left;
  cursor: pointer;
}

.img-box {
  height: 13rem;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.container h2 {
  text-align: left;
  color: #16316b;
  font-size: 25px;
  font-weight: bold;
  /* margin-left: 10px; */
  /* margin-top: 5px; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.componentHeading {
  text-align: left;
  color: #17387e;
  font-size: 15px;
  font-weight: bold;
  /* margin-left: 10px; */
  /* margin-top: 5px; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.componentSubHeading1 {
  color: rgb(42, 52, 143);
  text-align: left;
  font-size: 14px;
  /* margin-left: 10px; */
  /* margin-top: 15px; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.componentSubHeading {
  color: rgb(101, 109, 167);
  text-align: left;
  font-size: 13px;
  /* margin-left: 10px; */
  /* margin-top: 15px; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.quicksearch-container {
  margin-top: 20px;
}

.empty-container {
  height: 100px;
  width: 100%;
  clear: both;
  background-color: rgb(246, 246, 248);
  display: block;

}

/* @media screen and (min-width: 800px) {
  .quicksearch-container {
    margin-left: 230px;
  }
} */



@media screen and (max-width: 575px) {
  body {
    font-size: 5px;
  }

  .header-area h1 {
    font-size: 2.5rem;
    color: white;
  }
}
